<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="PartyVote.PartyVote" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="PartyVote" android:icon="@drawable/Icon" android:theme="@android:style/Theme.Material.Light"></application>
</manifest>